<a href="https://colab.research.google.com/github/QMichelle/CSS/blob/main/Lab_5_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Let's Learn about Pandas Data Frames!
Put Your name here

Put the date here

## Copying Notebooks

One of the advantages of working with notebooks is that you can share them! So rather than have you copy all of the code in this lab, in this example, you'll begin with a notebook and fill in the details.

#### About pandas

Pandas is a popular library for working with data in Python, and we're going to use it to recreate our menu-driven order system for our restaurant, Route 4A Grill.

You can think of a data frame in Python as similar to an attribute table in GIS or a table in a SQL database - data is often organized in columns and rows, where each row is a set of related data, and each column is a similar datatype or attribute.

Instead of a key, a data frame uses an index to uniquely identify a row and it's related attributes.

You can learn more from this video, https://www.youtube.com/watch?v=zmdjNSmRXF4, and the pandas documentation is available at https://pandas.pydata.org/docs/user_guide/index.html

To begin with, let's import the pandas module with a shorthand alias (pd).


**Be sure to run the bits of code in the notebook!**

In [ ]:
import pandas as pd

#### Creating a dataframe

In this example below, we're going to create a database from a dictionary, where the keys in the dictionary will become the columns of the dataframe.

Each key in inventory has a list that will become the data in the dataframe.

The df = pd.DataFrame converts the inventory dictionary into our dataframe. Note that we specify which column will be the index.

To show the output of a dataframe in Jupyter Notebook, just include the variable on a line by itself.

Our dataframe will have four columns:


*   A code used to type in the food
*   An item name
*   A cost
*   And the number of the items remaining in the restaurant



NOTE: Make sure you run the import line above before running the code below.

In [ ]:
# create a dictionary of our menu items, including a short code, the item name, the cost, and the number remaining in stock.
inventory = { 'code' : ['h', 'c', 'f', 'p', 'm' ],
             'item' : ['hamburger', 'cheeseburger', 'fries', 'pepsi', 'milkshake'],
             'cost' : [.4, .5, .3, .3, 1],
             'remain' : [ 100, 50, 200, 200, 25 ]
            }

# create the dataframe from our dictionary
df = pd.DataFrame(data=inventory, index=inventory['code'], columns = ['item', 'cost','remain'])

# output the dataframe
df

           item  cost  remain
h     hamburger   0.4     100
c  cheeseburger   0.5      50
f         fries   0.3     200
p         pepsi   0.3     200
m     milkshake   1.0      25

#### Listing a column of information

We can list a column of information. In pandas, it will include the index as well - in this case, the code.

In [ ]:
df["item"]

h       hamburger
c    cheeseburger
f           fries
p           pepsi
m       milkshake
Name: item, dtype: object

<mark background-color="lightyellow">Question 1. Try listing another column of the dataframe.</mark>

In [ ]:
# Try listing another column

#### Listing a cell

We can also list the value of a cell by using the .loc attribute of the dataframe with the index in the first square brackets and the attribute we want in the second square brackets.

In [ ]:
df.loc['h']['cost']

0.4

<mark background-color="lightyellow">Question 2. Try listing the value of another cell.</mark>

In [ ]:
# Try listing the value of another cell

#### Adding to our menu

We can concatenate / append two dataframes together. It's up to the programmer to make sure that the attributes match exactly - including case.

We're going to add hummus to our menu. Since the 'h' code is already taken with hamburger, we'll use a y code instead.

We can create a new dataframe new_df just like we did above at the beginning.

In [ ]:
new_item = { 'code' : ['y'], 'item' : ['yummy hummus'], 'cost' : [.25], 'remain' : [2] }
new_df = pd.DataFrame(data=new_item, index=new_item['code'], columns= [ 'item', 'cost', 'remain'])
new_df

           item  cost  remain
y  yummy hummus  0.25       2

The append function let's us add the new dataframe new_df to the already existing dataframe df.

In [ ]:
df=df.append(new_df)
df

           item  cost  remain
h     hamburger  0.40     100
c  cheeseburger  0.50      50
f         fries  0.30     200
p         pepsi  0.30     200
m     milkshake  1.00      25
y  yummy hummus  0.25       2

<mark background-color="lightyellow">Question 3. Create a temporary dataframe and add some new menu items to our menu.</mark>

In [ ]:
### Create a temporary dataframe and add some new menu items to our menu!

#### Deleting a row

We're worried about running out of cheese, so we're going to remove the cheeseburger from our menu using the drop method.
Notice that drop doesn't remove the data from the dataframe - it returns a copy of the dataframe with the row removed. So to keep it consistent, we have to assign the copy back to df.

In [ ]:
df = df.drop(['c'])
df

           item  cost  remain
h     hamburger  0.40     100
f         fries  0.30     200
p         pepsi  0.30     200
m     milkshake  1.00      25
y  yummy hummus  0.25       2

#### Checking if an item is on the menu

In our ordering system, we'll have our cashiers put in the codes rather than typing out the whole word. This will save a lot of time. We can check if a code is in the index by using the df.index attribute.

In [ ]:
print(df.index)
if 'h' in df.index:
    print("You can order a hamburger")

Index(['h', 'f', 'p', 'm', 'y'], dtype='object')
You can order a hamburger

#### Checking if we still have an item in stock
Of course, in our automated system, once we run out of an item in stock, we want to remove it from the menu. We can do that by using a subscript like this.

In [ ]:
df[df['remain']>0]

           item  cost  remain
h     hamburger  0.40     100
f         fries  0.30     200
p         pepsi  0.30     200
m     milkshake  1.00      25
y  yummy hummus  0.25       2

#### Removing one item from the inventory.
The df.at attribute lets us edit an indivual cell in the dataframe. In this example, someone has ordered hummus (code: y) and we're subtracting one from the remaining inventory.

In [ ]:
df.at['y', 'remain'] = df.at['y','remain'] - 1

#### Raising prices
We can raise all of the prices exactly 5 cents by using the column 'cost' and treating it as a variable.

In [ ]:
df['cost'] = df['cost'] + .05
df

           item  cost  remain
h     hamburger  0.45     100
c  cheeseburger  0.55      50
f         fries  0.35     200
p         pepsi  0.35     200
m     milkshake  1.05      25
y  yummy hummus  0.30       2

<mark background-color="lightyellow">Question 4. Add some hummus (or more products) back into the inventory.</mark>

In [ ]:
# A new shipment has arrived! Add some hummus back into the inventory.

### Challenge Problem - create an order function

Above, I've given you all of the pieces to create a new order function that takes in the dataframe. It should
- take in a code as an order
- check if the code is valid
- check if the item is still in stock
- remove one item from the inventory
- add the cost of the item to to the total bill
- and return the order and total cost.

<mark background-color="lightyellow">Question 5. Fill in the parts of the function, and run the code below.</mark>

In [ ]:
def order(df):
    menu_item = True
    total_cost = 0.0
    this_order = [ ]

    while menu_item == True:
        # print the menu and short keys
        print(df[df['remain']>0])
        # take in a code as an order
        menu_item = input("Select from the menu [Enter to be done]>")

            # check if the code is valid

            # check if the item is still in stock

            # remove one item from the inventory

            # add the cost of the item ot the total bill

        # return the total cost and the order
        return

order(df)

           item  cost  remain
h     hamburger  0.40     100
c  cheeseburger  0.50      50
f         fries  0.30     200
p         pepsi  0.30     200
m     milkshake  1.00      25
y  yummy hummus  0.25       1

# Geopandas

An geospatial extension of pandas is geopandas, which you can learn more about here: https://geopandas.org/en/stable/

Geopandas stores data in rows and columns like pandas does, but it also includes geometry data that can be mapped. We'll dive more into Geopandas in the future. But for now, let's try a short example.

<mark background-color="lightyellow">Question 6. Run the code below. What does it do?</mark>

In [ ]:
import geopandas as gpd

denver_data = gpd.read_file("https://www.denvergov.org/media/gis/DataCatalog/census_neighborhood_demographics_2010/shape/census_neighborhood_demographics_2010.zip")
denver_data.plot("POPULATION",legend=True)

#Reflection Questions

Answer these in a text box below.

<mark background-color="lightyellow">Question 7. How long did this assignment take you to complete?</mark>

<mark background-color="lightyellow">Question 8. Where did you get stuck? What did you do to get help?</mark>

<mark background-color="lightyellow">Question 9. What would a useful application of Pandas be for your projects?</mark>

<mark background-color="lightyellow">Save your file as a PDF and upload to Canvas.</mark>